{% load static %}
{% block camara %}

    <div class="borde">
        <video id="video" playsinline autoplay></video>
    </div>
    <canvas id="canvas" width="200px" height="100px"></canvas>

    <div id="mensaje" class="mensaje"></div> <!-- Quitamos el contenido dentro del div de mensaje -->

    <script>
        'use strict'
        document.getElementById('canvas').style.display = 'none';
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');

        const constraints = {
            audio: false,
            video: {
                width: 750, height: 330
            }
        };

        async function init() {
            try {
                const stream = await navigator.mediaDevices.getUserMedia(constraints);
                handleSuccess(stream);
            } catch (e) {
                // Eliminamos el código que modifica el div mensaje
            }
        }

        function handleSuccess(stream) {
            window.stream = stream;
            video.srcObject = stream;
        }

        init();
        var context = canvas.getContext('2d');
    </script>
{% endblock %}
